:root {
    --color-bright: #ac8d71;
    --color-dark: #524027;
    --color-medium: #b48a4b;
    --color-highlight-bright: #ffffff7f;
    --color-highlight-dark: #0000007f;
    --color-highlight-gray: #7f7f7f7f;
}