/* You can add global styles to this file, and also import other style files */
@import "colors.scss";

html {
    height: 100%;
    body {
        height: 100%;
    }
}


form {
    padding: 1rem;
    border: 2px solid var(--color-highlight-gray);
    border-radius: .5rem;
    .form-group {
        margin: 1rem;
    }
}